@import 'base.less';

// Animation
@ease-out-back: cubic-bezier(0.175, 0.885, 0.320, 1.275);
@ease-out-quart: cubic-bezier(0.165, 0.840, 0.440, 1.000);

.animation {
	animation: in .5s forwards @ease-out-quart; opacity: 0;
	animation-delay: 0.1s;
	animation-duration: 0.5s;
}

@keyframes in {
	from { transform: translateY(200px) rotateZ(15deg); opacity:0; }
	to { transform: none; opacity: 1; }
}








/*-----------------------------------------------------

	OTHER STUFF

-----------------------------------------------------*/

body {
	display: table; table-layout: fixed;
	max-width: 1120px;
	margin:0 auto;
}
.row { display: table-row; }
#left, #right { display: table-cell; vertical-align: top; }


// mixers
.primary-button(@color){
	background-color: @color; border-color: @color;
	width:100%;
    color: #fff; backface-visibility: hidden;
	font-weight: @font-light;
	transition: transform .1s ease;
	&:hover { background-color: darken(@color, 5%); border-color: darken(@color, 5%); color:#fff; }

}



body button.ani {
	.primary-button(@cyan-300);
	&.on { background: @indigo-400; border-color: @indigo-400; color: #fff; }
}

#korklarMarker { margin:-6px 0 0 0px !important; }
#demo {
	&.green { .primary-button(@light-green-400); animation: fadeInOut 1s ease infinite; }
	.primary-button(@pink-300);
	disply:inline-block;
	padding:3px 6px;
	border-radius:5px;
	cursor: pointer;
	font-weight: @font-normal;
}
@keyframes fadeInOut {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

a { color: @color-primary; text-decoration: none; border-bottom: 1px solid @color-primary; }


/*-----------------------------------------------------

	COLOR BOXES

-----------------------------------------------------*/

// boxes
#boxColors { margin-top: @padding-base*3; }

// buttons
body .btn-primary, body .btn-secondary { font-weight: @font-normal; }
body .btn-primary { .primary-button(@color-primary); }
body .btn-s { .primary-button(@color-tertiary); }

// color boxes
.color {

    display: inline-block;
	width: 130px;
    margin: 0 30px 30px 0;
	background: #fff;
    color: #666;
	border-radius: 5px;
	border-bottom:2px solid #ddd;
	font-size: 1.2rem;
	font-weight: 600;

	span {
		display: block;
		position:relative;
		height:60px; width: 100%;
		border-radius:4px; border-bottom-left-radius:0; border-bottom-right-radius:0;
	}

    i {
		padding: 9px 15px; display: inline-block; text-transform: uppercase;
		u { text-decoration: none; }
		b { display: block; font-weight: @font-normal; }
    }

} // .color




// left / right
#left, #right { padding: @padding-base*3 @padding-base*2; height: 100%; }
#left {
	max-width: 200px;
}

#right p {
	font-weight: @font-normal;
	font-size: 1.6rem;
	&.intro { font-weight: @font-light; font-size: 2.1rem; margin-bottom: @padding-base*2; }
}

/*-----------------------------------------------------

	FORM

-----------------------------------------------------*/


#f {
	p { display:block;  }
	input { width:100%; }
 }
